#
#	Widow titles
#
TEL_BILL_GEN_UI_NAME=Bill Generation
#
#	Label values
#
L_BILL_NO=Bill No
L_TEL_CONTACT_NO=Contact No.
L_TEL_BILL_DTAE=Bill Date
L_PAN_NO=PAN NO
L_E_Mail=E-Mail
L_Veh_Type=Vehicle Type
L_TO=TO
L_Start_Date=Start Date
L_Return_Date=Return Date
L_Veh_Number=Vehicle No.
L_Vendor_Code=Vendor Code
L_Emp_Name=Employee Name
L_Start_KM=Start Km
L_End_KM=End Km
L_AC_noAC=AC\non-AC
L_Start_Time=Start Time
L_End_Time=End Time
L_Total_KM=Total Km
L_Duty_Type= Duty Type
L_Total_Distance1=Total Pkg Km
L_Total_Distance=Total  Km
L_Rate=Pkg. Rate
L_Extra_Rate=Extra Rate/Km
L_PKG_Rate=Pkg. Rate
L_Amount=Pkg. Amount
L_Extra_KM = Extra Distance Travelled(Km)
L_Total_Extra_KM=Total Ex. Km
L_Extra_KM_Rate=Ex. Rate/Km
L_Extra_Amount=Ex. Amount
L_TOLL_AMOUNT= Toll
L_NIGHT_HALT_AMOUNT = Night Halt
L_AMOUNTS_IN_WORDS= Amount In Words
L_GROSS_AMOUNT = Total Amount To Pay
L_GENERATE_EXCEL_CHECK=Excel
#
L_key=Key
L_value=Value
L_spinnermodel = spinnermodel
L_spinner = spinner
L_Picker=Picker
#
#	Label Text Values
#
V_CLIENT_ADDRESS = S NO 74/7 RAJANIGANDHA HOUSING SOCIETY, WALHEKARWADI, CHINCHWAD, PUNE - 411033
V_TEL_BILL_SERIAL_TEXT_GEN=TAL 004:17-18
V_CLIENT_MOB1=9623121570
V_PAN_NO=AKHPN9505G
V_E_Mail=nichit.a.sachin@gmail.com
V_TOTAL_BTN_STRING = Get Total
#
#	ID
#
ID_Vehicle_TYPE_COMBO=VTC
ID_DUTY_TYPE_COMBO=DTC
ID_TO_CUSTOMER_COMBO =TCC
ID_SELECT_DUTY_TYPE_COMBO = SDTC
ID_BTN_ADD_DUTY_TYPE = Add Duty Type
ID_BTN_Edit_DUTY_TYPE = Edit Duty Type
ID_CUSTOMER_SELECT_DUTY_TYPE_COMBO = DTCCS
#DTCCS--DUTY TYPE COMBO CUSTOMER SELECT
ID_CUSTOMER_SELECT_TELCO_BILL_UI = CSTBU
#
#	ERROR
#
E_KM_EXCEPTION_STRING =  Total KM Should Be Greater Than Zero(0), Start KM Should be less than End KM
E_LOGIN_EXCEPTION_STRING = InValid Credentials...please try again
#
#	Constants
#
MY_COMPANY_NAME = Unity Infotech Group (I) Pvt Ltd
#
#	Customer
#
C_VENDOR_ADDESSS=Vender Address
C_Vendor_NAME=Vendor Name
#
BTN_STRING_EDIT_DUTY_TYPE=Edit
#